.process-btns{
    margin: 10px;
    color: white;
    font-size: 10px;
    border: 0px;
    padding: 10px;
    background-color: #339f34;
    width: 46%;
}
.cancel-btns{
    margin: 10px;
    color: white;
    font-size: 10px;
    border: 0px;
    padding: 10px;
    background-color: red;
    width: 46%;
}

.btns-bg {
    background-color: transparent;
}

.modal-header {
    background-color: black;
    line-height: 8px;
    margin-top: 2rem;
    padding: 1px;
    padding-left: 17px;
    color: white;
    top: 1px;
}
.grid-container-receipt {
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-gap: 10px;
    padding: 10px;
}
.grid-container >  div{
    text-align: center;
    /*padding: 10px 0;*/
}
.close-btn{
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    background-color: white;
}
.receipt-body{
    padding: 30px;
    text-align: center;
}
.receipt-body> text{
    padding-top: 5px;
    font-size: 14px;
    float: left;
}