body {
    color: #616161;
    overflow-x: hidden;
    height: 100%;
    background-color: #ECEFF1;
    background-repeat: no-repeat
}

.card-strip {
    background-color: #fff;
    padding: 25px;
    width: 950px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px #E0E0E0
}

.dark-text {
    color: #000
}

.extended-title {
    color: #757575;
    background-color: #E0E0E0;
    padding: 1px 5px
}

.fa-star {
    color: #E0E0E0
}

.fa-star.active {
    color: #FFC400
}

.green-block {
    color: #00695C;
    background-color: #B2DFDB;
    padding: 3px 20px;
    border-radius: 2px
}

.comp-logo {
    background-image: url("../../images/Pathology-Logo.png");
    width: 70px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.v-line {
    width: 1px;
    background-color: #E0E0E0;
    margin-right: 50px
}

.blue-text {
    color: #00B8D4
}

.price-fall {
    font-size: 17px
}
.price {
    width: 22%;
}

.btn-orange {
    background-color: #FF9800;
    color: #fff
}

.added_item{
    background-color: white;
    line-height: 40px;
    margin: 10px;
    margin-left: 25px;
    text-align: center;
}
.grid-container-cartitem {
    display: grid;
    grid-template-columns: 8% 33% 12% 15% 20%;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container-cartitem >  div{
    text-align: left;
    /*padding: 10px 0;*/
}
.item-count{
    width: 2rem;
    border-radius: 4px;
}
.items{
    height: 100px;
    width: 100px;
    /*background-color: lightcoral;*/
    border-radius: 5px;
}

.cross-btn{
    height: 22px;
    width: 22px;
    color: #ffffff;
    background-color: red;
    border: none;
    border-radius: 18px;
}
.plus-btn{
    height: 22px;
    width: 22px;
    color: #ffffff;
    background-color: gray;
    border: none;
    border-radius: 4px;
}
.minus-btn{
    height: 22px;
    width: 22px;
    color: #ffffff;
    background-color: gray;
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 1012px) {
    .card-strip {
        width: 100%
    }
}

@media screen and (max-width: 859px) {
    .v-line {
        display: none
    }

    .price {
        width: 100%;
        margin-left: 95px
    }
}

@media screen and (max-width: 529px) {
    .price {
        margin-left: 0px
    }
}